.item {
    display: flex;
    align-items: center;
    padding: 7px 0;
    cursor: pointer;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, #FFBD07 50%) right no-repeat;
    background-size: 205%;
    transition: background .3s ease-in-out;
}

.item:hover {
    background-position: left;
}

.item:hover > .item__icon {
    color: #fff;
}

.item:hover > .item__text {
    color: #fff;
}

.item__icon {
    flex: 1;
    color: #1c1c1c;
    font-size: 1.4em;
    margin-left: 10px;
    transition: color 0.2s ease-in-out;
}

.item__text {
    flex: 9;
    margin-left: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #1c1c1c;
    font-size: 1.6em;
    transition: color 0.2s ease-in-out;
}
